<!-- Modal Contracts -->
<div class="modal fade" id="contracts" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
<h6>חוזים מומלצים</h6>
<hr>
      <p>מרבית תושבי העיר שוכרים או משכירים דירות, אך לא כולם מודעים לזכויות הבסיסיות שחוזה שכירות צריך לכלול. כדי לשים סוף
        לאי ההבנות ולייצר נורמה שמגנה על שני הצדדים, עיריית תל-אביב-יפו גיבשה חוזה שכירות מומלץ. החוזה, שעודכן לאחרונה בעקבות
        אישור חוק שכירות הוגנת, כתוב בשפה ברורה ונגישה ונותן מענה לסוגיות המרכזיות שקשורות בשכירות הדירה. לפני החתימה, הקפידו
        לבחור ולסמן את האפשרות המועדפת עליכם בסעיפים שיש בהם אפשרות בחירה.</p>
      <p>שימו לב: השימוש בחוזה השכירות הינו באחריותם הבלעדית של הצדדים לחוזה. מובהר כי לעיריית תל-אביב-יפו ולאתר MAPMAP לא תהיה
        כל אחריות בנוגע ליישום הוראות החוזה בין הצדדים או לפרשנותו. אין בחוזה השכירות ובחומרי ההסבר הנלווים לו כדי להוות
        ייעוץ משפטי או תחליף לייעוץ משפטי אצל עו"ד.</p>
      <ul>
        <li>
          <a href="https://www.tel-aviv.gov.il/Forms/חוזה שכירות מומלץ.pdf" title="חוזה שכירות מומלץ" target="_blank">חוזה שכירות מומלץ</a>
        </li>
        <li>
          <a href="https://www.tel-aviv.gov.il/Forms/כתב ערבות ושטר חוב.pdf" title="כתב ערבות ושטר חוב" target="_blank">כתב ערבות ושטר חוב</a>
        </li>
        <li>
          <a href="https://www.tel-aviv.gov.il/Residents/Assets/Pages/hoze.aspx" title="חוזה עם הערות" target="_blank">חוזה עם הערות</a>
        </li>
      </ul>
    </div>
  </div>
</div>
