#tableWrapper{      background-image: linear-gradient(120deg, #ececec00, #42a5f561); height: 95vh; direction: rtl;text-align: right}
    ng2-smart-table {
        color: #fff;
    }
    .ng2-smart-title{text-align: center}

