
<div class="cardsWrapper">
  <div class="row">
  <div *ngFor="let a of filteredData " class="card  col-md-2">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" [src]='a.details.images.length > 0 ? a.details.images[0] : "assets/images/apartments/no_image.jpg"' #img (error)="img.src = 'assets/images/apartments/no_image.jpg'">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{a.details.apartment_type !== '' ? a.details.apartment_type  : 'דירה'}}
        <i class="material-icons right">more_vert</i>
      </span>
      <p>{{a.details.price}}</p>
      <p class="cardInfo">
       {{a.location.address}}
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> {{a.location.address}}
        <i class="material-icons right">close</i>
      </span>
      <p>{{a.details.info}}</p>
    </div>
  </div>
</div>
</div>