.switch,
.switch * {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.switch img {
    width: 24px;
    height: 24px;
}
.advancedFilter.col.s2 {
    margin: 1% 0;
    padding: 0;
}
.ng2-nouislider {
    margin: 50px 0 20px;
}
.filters {
    display: block;
    width: 100%;
}
.advencedFilterModalWrapper h6 {
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .modal.show .modal-dialog {
        padding: 2%;
        margin: 2% 0;
    }
}
