<!-- MAP -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="mapOptions.zoom" [minZoom]="mapOptions.zoom"  [maxZoom]="mapOptions.zoom"  (boundsChange)="boundsChange($event)">
  <!-- MARKERS -->
  <agm-marker *ngFor="let a of apartments | filters:filtersArr" [latitude]="a.location.latlng.lat" [longitude]="a.location.latlng.lng">
     <!-- INFO WINDOW -->
     <agm-info-window  >
        <app-infowindow  [apartment]="a"></app-infowindow>
     </agm-info-window>
  </agm-marker>
</agm-map>

<!-- INFO WINDOW MODAL -->
<app-infowindow-modal  [apartment]="apartmentModal"></app-infowindow-modal>