.sidenav .divider {
    margin: 8px 0;
}
.sidenav .user-view{    padding: 32px;}
.navDetails{
    text-align: right;
}
.sidenav{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.activeLink{
    color:#42A5F5;
}