<!-- upload Images -->
<div class="form-row imageuploadify">

  <form [attr.action]="imageURL" enctype="multipart/form-data" method="post">
    <div>
      <i class="material-icons prefix"> cloud_upload</i>
      <span class="imageuploadify-message">
        Drag & Drop...
      </span>
    </div>
    <input type="file" name="file" id='fileInput' name="images" style="display:block;" (change)="upload($event)" #fileInput accept="image/*,video/*"
      multiple />

  </form>


  <div *ngFor="let image of srcImages">
    <img class="images" [src]="image" />
  </div>

</div>