<!-- upload Images -->
<div class="form-row imageuploadify">

    <div>
      <i class="material-icons prefix"> cloud_upload</i>
      <span class="imageuploadify-message">
        Drag & Drop...
      </span>
    </div>
    <label  class="btn btn-info fileInputLabel" for="upload-photo">Or Browse...
    <input type="file" name="file" id='fileInput' name="images" (change)="upload($event)" #fileInput accept="image/*,video/*"
      multiple />
    </label>



  <div *ngFor="let image of srcImages">
    <img class="images" [src]="image" />
  </div>

</div>