<!-- upload Images -->
<div class="form-row imageuploadify">
  <i class="material-icons prefix"> cloud_upload</i>
  <span class="imageuploadify-message">
    Drag & Drop...
  </span>
  <button type="button" class="btn uploadBtn" style="background: white; color: rgb(58, 160, 255);" (click)="fileInput.click()">
    <span> Or - Choose files to upload </span>
  </button>
  <input type="file" #fileInput style="display: none" (change)="onFileChanged($event)" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf"
    multiple>

    <img [src]="srcImg" />

</div>
