
        <!-- Hamburger Menu -->
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="./assets/images/hamburgerBG.jpg"></div>
                        <div class="userProfile">

                            <!-- GOOGLE BUTTON (dont add here *ngIf - it needs to be on dom! ) -->
                            <div class="googleBT" *ngIf="mobile">
                                <div class="btn red g-signin2" data-onsuccess="onSignIn">Google</div>
                              
                            </div>

                            <img
                                [src]="profile['picture'] != null ? profile['picture'] : ''"
                                class='signOut'
                                [hidden]="connect"
                                (click)="signOut()"></div>
                            <div class="navDetails">
                                <p>
                                    <span class="black-text name" [hidden]="connect">{{profile['given_name'] }}
                                        {{profile['family_name']}}</span>
                                </p>
                                <p>
                                    <span class="black-text email" [hidden]="connect">{{profile['email']}}</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="navOptions">
                        <a
                            href="#"
                            data-toggle="modal"
                            data-target="#newApartmentWindowModal"
                            (click)="apartmentObj=null"
                            [hidden]="connect"
                            #apartmentModal>
                            <i class="material-icons">publish</i>פירסום מודעה חדשה</a>
                    </li>

                    <li class="navOptions">
                        <a
                            href="#"
                            data-toggle="modal"
                            data-target="#editModal"
                            (click)="getApartments()"
                            [hidden]="connect">
                            <i class="material-icons">person</i>פאנל עריכה</a>
                    </li>

                    <li class="navOptions">
                        <a href="#" data-toggle="modal" data-target="#advancedFiltersModal">
                            <i>
                                <img src="assets/images/icons/funnel.png"/>
                            </i>
                            פילטרים</a>
                    </li>

                    <li class="navOptions">
                        <a href="#" (click)="changeView()"  routerLink="/{{view}}" >
                            <i class="material-icons">pageview</i>
                            תצוגת
                            {{nextView}}</a>
                    </li>

                    <li class="navOptions">
                        <a href="#" data-toggle="modal" data-target="#contracts">
                            <i class="material-icons">attach_file</i>
                            חוזים</a>
                    </li>

                    <li class="navOptions">
                        <a href="#" [hidden]="connect" (click)="signOut()">
                            <i class="material-icons">exit_to_app</i>
                            יציאה</a>
                    </li>

                </ul>