
.sidenav li > a {
    direction: rtl;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.sidenav-trigger {
    display: block;
    height: auto;
}
.sidenav {
    width: 250px;
}

.user-view {
    height: 170px;
}