<div class="modal fade  advencedFilterModalWrapper" id="advancedFiltersModal" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-content modal-dialog modal-dialog-centered" role="document">
    <h6>סינון</h6>
    <form (ngSubmit)="submitFilters()" #advancedFiltersForm>

      <!-- advancedFilter -->
      <div class="form-row">
        <div *ngFor="let filter of advancedFilters; let i = index" class=" advancedFilter col s2">
          <div class="switch">
            <label>
              <div class="switchIcon">
                <img src="assets/images/icons/{{filter.filterName}}.png" />
              </div>
              <span>{{filter.name}}</span>
              <input type="checkbox" [(ngModel)]="advancedFilters[i].filter" [name]="'filter'+i">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="lovedApartments">
            <div class="btn blue lighten-1 hvr-sweep-to-left" name="favFilterImg" (click)="favFilterImg = !favFilterImg">
              <span>הצג מודעות שאהבתי</span>
              <img [src]="favFilterImg ? 'assets/images/icons/heart-full.png' : 'assets/images/icons/heart.png'" class="heart" />
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="imageApartments">
            <div class="btn blue lighten-1 hvr-sweep-to-left" name="imgFilterImg" (click)="imgFilterImg = !imgFilterImg">
              <span>הצג מודעות עם תמונות בלבד</span>
              <img [src]="imgFilterImg ? 'assets/images/icons/apartment_image-full.png' : 'assets/images/icons/apartment_image.png'" class="heart"
              />
            </div>
          </div>
        </div>
      </div>

      <nouislider #sliderRef style="width:100%" [config]="rangeConfig"></nouislider>


      <div class="row">
        <!-- apartmentType -->
        <div class="input-field col s3 apartmentType">
          <select [(ngModel)]="filtersObj.apartmentType" name="apartmentType" required>
            <option value="all" selected disabled>Type</option>
            <option value="all">הכל</option>
            <option value="דירה">דירה</option>
            <option value="דירת גן">דירת גן</option>
            <option value="פרטי">פרטי</option>
          </select>
        </div>
        <!--apartmentRooms-->
        <div class="input-field col s3 apartmentRooms">
          <select [(ngModel)]="filtersObj.rooms" name="apartmentRooms" required>
            <option value="" disabled selected>Rooms</option>
            <option value="1">1</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
            <option value="6">6+</option>
            <option value="7">7+</option>
            <option value="8">8+</option>
          </select>
        </div>
        <!--apartmentFloor-->
        <div class="input-field col s3 apartmentFloor">
          <select [(ngModel)]="filtersObj.floor" name="apartmentFloor" required>
            <option value="" disabled selected>Floor</option>
            <option value="0">0</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
            <option value="10">10+</option>
            <option value="20">20+</option>
            <option value="30">30+</option>
          </select>
        </div>
        <!--apartmentToilets-->
        <div class="input-field col s3 apartmentToilets">
          <select [(ngModel)]="filtersObj.toilets" name="apartmentToilets" required>
            <option value="" disabled selected>Toilets</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Filter!</button>
    </form>
  </div>
</div>