<div class='markerWrapper'  (click)="infoWindowClick()"  data-toggle="modal" data-target="#infowindowmodal">

  <div class='markerImgWrapper'>
    <p>{{apartment.details.price}}
      <img src='assets/images/icons/price.png' />
    </p>

    <img class='markerImg' [src]='apartment.details.images.length > 0 ? apartment.details.images[0] : "assets/images/apartments/no_image.jpg"' #img (error)="img.src = 'assets/images/apartments/no_image.jpg'"/>
    <div id='streetImg'></div>
<!--TODO: change here to favorite-->
    <img [src]="apartment.active ? 'assets/images/icons/heart-full.png' : 'assets/images/icons/heart.png' " class='markerHeart' (click)="markerHeart($event)" />
    <img [src]="apartment.active ? 'assets/images/icons/black-list-full.png' : 'assets/images/icons/heart.png' " class='markerBlackList' (click)="markerBlackList($event)" />
  </div>

  <div class='markerDetails'>
    <p> {{apartment.details.apartment_type}} </p>
    <p> {{apartment.location.address }}</p>
    <p>
      <span> {{apartment.details.rooms}}
        <img src='assets/images/icons/rooms.png' />
      </span>
      <span>{{apartment.details.floor}}
        <img src='assets/images/icons/floor.png' />
      </span>
    </p>
    <p>
      <span>{{apartment.details.entrance_date | date }}
        <img src='assets/images/icons/entrence_date.png' />
      </span>
    </p>
  </div>
</div>

