.markerWrapper{position:relative;width:400px;height:150px;cursor:pointer;overflow:hidden;}
.markerWrapper .markerImgWrapper p{background:#ffffffb3;right:0;left:0;text-align:center;margin-bottom:0px;bottom:0;position:absolute;}
.markerWrapper .markerDetails{position:absolute;text-align:right;right:210px;}
.markerWrapper .markerImgWrapper{position:absolute;right:0;top:0;}
.markerWrapper .markerImgWrapper .markerImg{width:200px;height:150px;}
#streetImg{width:200px;height:150px;display:none;}
.markerWrapper .markerImgWrapper .markerHeart{position:absolute;right:5%;top:5%;cursor:pointer;}
.markerBlackList{
position: absolute;
right: 5%;
top: 40px;
cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .markerWrapper .markerImgWrapper .markerImg{width:150px;height:100px;}
    .markerWrapper .markerDetails{right:160px;    width: 160px;}
    .markerWrapper .markerDetails p{margin-bottom:0px;}
    .markerWrapper{    width:84vw;}
    .markerWrapper .gm-style .gm-style-iw{overflow:auto;}
}