<!-- Modal -->
<div class="modal fade" id="infowindowmodal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
<!-- CAROUSEL -->






            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <!-- indicators -->
                <ol class="carousel-indicators" >
                  <li data-target="#carouselExampleIndicators" [id]="i" #imageNumber (click)="updateIndector(imageNumber.id)" *ngFor="let apartmentImg of apartment.images; let i = index" [attr.data-slide-to]="i" [class.active]="i == indicatorNumber" ></li>
                </ol>
                <!-- Images -->
                <div id="panorama"  [hidden]="apartment.details?.images.length !== 0" ></div>
                <div class="carousel-inner">
                  <div  *ngFor="let apartmentImg of apartment.details?.images; let i = index" class="carousel-item" [class.active]="i == 0">
                    <img class="d-block w-100" [src]='apartmentImg'>
                  </div>
                </div>
                <!-- RIGHT LEFT BUTTONS -->
                <div  *ngIf="apartment.details?.images.length > 1">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
              </div>
            
      </div>
      <div class="modal-body">
        <div class="markerCarouselDetails row">
            <div class="col-8">
                <h5><span>{{apartment.details?.apartmentType}}</span> , <span>{{apartment.details?.price}}</span> <span><img src="assets/images/icons/coins/ils.png" /></span> </h5>
                <h6>{{apartment.apartment?.location}}</h6>

                <p> <span>תיאור: </span>{{apartment.details?.info}}</p>

                <p><span>קומה: {{apartment.details?.floor}}</span>  <img src="assets/images/icons/floor.png" />
                    <span>חדרים: {{apartment.details?.rooms}}</span><img src="assets/images/icons/rooms.png" />
                    <span>שירותים: {{apartment.details?.toilets}}</span><img src="assets/images/icons/toilets.png" />
                </p>

                <img src="assets/images/icons/size.png" /> <span>גודל: {{apartment.details?.size}}</span>
                
                <span>כניסה: {{apartment.details?.entrance_date}} </span><img src="assets/images/icons/entrence_date.png" />
            </div>

            <div class="col-4 markerOwnerContact">
                <h5><span>צור קשר</span></h5>
                <h6><img src="assets/images/icons/owner.png" /><span>{{apartment.publisher?.name}}</span></h6>
                <h6><img src="assets/images/icons/email.png" /><span>{{apartment.publisher?.email}}</span></h6>
                <h6><img src="assets/images/icons/phone.png" /><p  class="ownerPhone" *ngFor="let apartmentPhone of apartment.publisher?.phone"><a href="tel:">{{apartmentPhone.split("972")[1]}}</a></p></h6>
               
                <div class="input-field col s12">
                    <textarea id="notes" class="notes"></textarea>
                    <label for="notes">הערות אישיות</label>
                </div>
            </div>

        </div>
      </div>
      <div class="modal-footer">
<!-- TODO -->
        <!--  <div class="col s6"><span>שמירה </span>
            <span class="heart"><img [src]="apartment?.favorite ? 'assets/images/icons/heart-full.png' : 'assets/images/icons/heart.png'"  /></span>
            <span (click)="calendar(apartment)"><img [src]="assets/images/icons/calendar.png" class="modal-action modal-close waves-effect"></span>
        </div>
        <div class="col s6 left-align">
            <span>שיתוף  </span>
            <span (click)="shareFacebook(apartment)" class="fb-share-button"><img [src]="assets/images/icons/facebook.png" /></span>
            <span (click)="sendWhatsapp(apartment.phones[0])"><img [src]="assets/images/icons/whatsapp.png" /></span>
            <span><a (click)="sendMail(apartment)" href="mailto:{{apartment.email}}&subject=This%20is%20the%20subject&body=This%20is%20the%20body"><img [src]="assets/images/icons/gmail.png" /></a></span>
            <span class="hide-on-large-only"><a (click)="openWaze(apartment)"><img [src]="assets/images/icons/waze-icon.png" /></a></span>
            <span (click)="print()"><img [src]="assets/images/icons/printer.png" /></span>
        </div>
    -->
        <button type="button" class="btn btn-primary left">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>