
<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{ 'searchClicked': search }">

  <a href="#" data-target="slide-out" class="sidenav-trigger">
    <i class="material-icons">menu</i>
  </a>

  <!-- nav links -->
  <div id="navbar">
    <div class="logo left">
      <a href="#">
        <img src="assets/images/logo.png" class="logoImg"> MapMap</a>
    </div>
      
    <div class="form-inline my-2 my-lg-0 right smallSearch">
      <input #searchRef [formControl]="searchControl" autocorrect="off" autocapitalize="off" spellcheck="off"
      class="form-control mr-sm-2 " type="search" placeholder="Search for location" aria-label="Search" (click)="openSearchInput()" (focusout)="focusOutSearch($event)">
    </div>
     

  </div>
</nav>
<!-- Hamburger Menu -->
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="./assets/images/hamburgerBG.jpg">
      </div>
      <div class="userProfile">

        <!-- GOOGLE BUTTON (dont add here *ngIf - it needs to be on dom! ) -->
        <div class="googleBT">
          <google-signin [clientId]="myClientId" [width]="myWidth" theme="dark" [scope]="myScope" [longTitle]="myLongTitle" (googleSignInSuccess)="onGoogleSignInSuccess($event);">
          </google-signin>
        </div>

        <img [src]="profile['picture']" class='signOut' (click)="signOut()">
      </div>
      <div class="navDetails">
        <p>
          <span class="black-text name">{{profile['given_name'] }} {{profile['family_name']}}</span>
        </p>
        <p>
          <span class="black-text email">{{profile['email']}}</span>
        </p>
      </div>
    </div>
  </li>
  <li class="navOptions">
    <a href="#" data-toggle="modal" data-target="#newApartmentWindowModal">
      <i class="material-icons">publish</i>פרסם מודעה</a>
  </li>


  <li class="navOptions">
    <a  href="#"  data-toggle="modal">
      <i>
        <img src="assets/images/icons/funnel.png" />
      </i> סינון</a>
  </li>

  <li class="navOptions">
    <a class=" modal-trigger advancedFilterBT" href="#advancedFiltersModal">
      <i class="material-icons">filter_list</i>סינון מתקדם</a>
  </li>



<li>
  
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

</li>


</ul>


  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


<app-map [latLng]="latLng"></app-map>

<app-new-apartment-modal></app-new-apartment-modal>

<app-advanced-filters></app-advanced-filters>