<!-- NAV -->
<app-nav
(click)="removeBlur()"
    [search]="search"
    [mobile]="mobile"
    [profileIMG]="profile['picture']"
    (signOutOutput)="signOut()"></app-nav>
<!-- Hamburger Menu -->
<app-mobile-nav
(click)="removeBlur()"
    [connect]="connect"
    [mobile]="mobile"
    [profile]="profile"
    [apartmentObj]="apartmentObj"
    (getApartmentsOutput)="getApartments()"
    (changeViewOutput)="changeView($event)"
    (signOutOutput)="signOut()"></app-mobile-nav>

<!-- Floating circle Menu -->
<app-floating-menu
(click)="removeBlur()"
    [connect]="connect"
    [mobile]="mobile"
    [apartmentObj]="apartmentObj"
    (getApartmentsOutput)="getApartments()"></app-floating-menu>

<!-- Search -->
<app-search
    [view]="view"
    [apartmentsResults]="apartmentsResults"
    (searchOutput)="search = $event"
    (searchRefOutput)="initAutoComplete($event)"></app-search>

<div class="blurSection" [ngClass]="{ 'blur': search }"  (click)="removeBlur()">

    <!-------------------------->
    <!-- Login -->
    <!-------------------------->
    <app-login (logindata)="logindata($event);"></app-login>


    <!-- advanced Filter -->
    <app-advanced-filters (filters)="filtersInputFunc($event)"></app-advanced-filters>

    <!-- Contracts Modal -->
    <app-contracts></app-contracts>

    <!-- edit Apartment -->
    <button #editButtonModal data-toggle="modal" data-target="#newApartmentWindowModal" style="display:none" ></button>
    <app-edit-modal
        [connect]="connect"
        [editApartments]="editApartments"
        (openEditOutput)="editApartmentInput($event)"></app-edit-modal>

    <router-outlet></router-outlet>

    <!-------------------------->
    <!---------- Map ----------->
    <!-------------------------->
    <app-map
        *ngIf="view == 'map'"
        (apartmentsResults)="apartmentsResultsInput($event)"
        [latLng]="latLng"
        [loginStatus]="checkLoginStatus"
        [filtersInput]="filtersInput"
        (search)="search = $event"></app-map>


</div>