<div class="AdminCommentsWrapper">
      <ul class="collection">
        <li class="collection-item avatar" *ngFor="let apartment of data">
            <div>
                <i class="material-icons circle" >person</i>

            </div>
          <div class="row">
            <div class="col-9">
                <span class="title">Address: {{apartment.address}}</span>
                <p>comment: {{apartment.comment}} <br>
                  Owner: {{apartment.owner}}
                </p>
            </div>
    
            <div class="col-3">
                <button class="btn blue lighten-3 waves-effect waves-light w-100" (click)="adminApproveComment(apartment)">Approve
                    <i class="material-icons right">send</i>
                  </button>
                <button class="btn red lighten-3 waves-effect waves-light w-100" (click)="adminDeleteComment(apartment)">Delete
                    <i class="material-icons right">send</i>
                  </button>
            </div>
    
          </div>
        </li>
      </ul>
    
    </div>