<!-- Modal Structure -->
<div class="modal fade" id="newApartmentWindowModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form #apartmentForm="ngForm" (ngSubmit)="publishNewApartment(apartmentForm)">
        <h6>Publish New Apartment!</h6>
        <hr>
        <div class="row">
          <div class="col s12">

            <!-- Name -->
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <label for="inputFirstName" [ngClass]="name.invalid && name.dirty  ? 'red-text' : ' grey-text '">First Name</label>
              <input type="text" [(ngModel)]="apartment.publisher.name" #name="ngModel" name="name" id="inputFirstName" minlength="2" maxlength="20"
                (focus)="submittedError = false" required>
              <span data-error="" data-success="right" *ngIf="name.invalid && (name.dirty || name.touched) ||  submittedError">
                <span *ngIf="name.errors?.required" class="helper-text red-text"> Name is required.</span>
                <span *ngIf="name.errors?.minlength" class="helper-text red-text"> Name must be at least 2 characters long.</span>
                <span *ngIf="name.errors?.maxlength" class="helper-text red-text"> Name must be at Max 20 characters long.</span>
              </span>

            </div>
            <!-- Phone -->
            <div class="input-field col s6">
                  <i class="material-icons prefix">phone</i>
                  <input type="number" [(ngModel)]="apartment.publisher.phones" #phone="ngModel" name="phone" id="icon_telephone" (focus)="submittedError = false"
                    pattern=".{9,15}" required (focus)="submittedError = false">
                    <label for="icon_telephone" [ngClass]="phone.invalid && phone.dirty  ? 'red-text' : 'grey-text'">Telephone</label>
                    <span data-error="" data-success="right" *ngIf="phone.invalid && (phone.dirty || phone.touched) ||  submittedError">
                        <span *ngIf="phone.errors?.required" class="helper-text red-text"> Phone is required.</span>
                        <span *ngIf="phone.errors?.pattern" class="helper-text red-text"> Phone must be at least 9-15 digits.</span>
                      </span>
                      <button class="btn left modal-close waves-effect  btn-flat" (click)="confirmPhoneByToast(phone)" type="button">Check!</button>

                
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">

            <!-- Price -->
            <div class="input-field col s6">
              <i class="material-icons prefix">
                <img src="assets/images/icons/coins/ils.png" />
              </i>
              <input [(ngModel)]="apartment.details.price" #price="ngModel" name="price" id="inputPrice" type="number" data-length="10"
                class="validate" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9,.]{3,10}"
                (focus)="submittedError = false" />
              <label for="inputPrice" [ngClass]="price.invalid && price.dirty  ? 'red-text' : 'grey-text'">Price</label>
              <span data-error="" data-success="right" *ngIf="price.invalid && (price.dirty || price.touched) ||  submittedError">
                <span *ngIf="price.errors?.required" class="helper-text red-text"> Price is required.</span>
                <span *ngIf="price.errors?.pattern" class="helper-text red-text"> Price must be at least 3-10 characters long.</span>
              </span>

            </div>
            <!-- Email -->
            <div class="input-field col s6">
              <i class="material-icons prefix">email</i>
              <input [(ngModel)]="apartment.publisher.email" name="email" id="inputMail" type="email" data-length="30" (focus)="submittedError = false"
                min="10" max="15" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
              <label for="inputMail" [ngClass]="email.invalid && email.dirty  ? 'red-text' : 'grey-text'">Email</label>
              <span data-error="" data-success="right" *ngIf="email.invalid && (email.dirty || email.touched)||  submittedError">
                <span *ngIf="email.errors?.required" class="helper-text red-text"> Email's is required.</span>
                <span *ngIf="email.errors?.pattern" class="helper-text red-text"> Email's not valid.</span>
              </span>
            </div>


          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <!-- Date -->
            <div class="input-field col s6">
              <i class="material-icons prefix">date_range</i>
              <input type="date" #date="ngModel" [(ngModel)]="apartment.details.entrance_date" name="date" id="inputDate" required (focus)="submittedError = false"
              />
              <label for="inputMail" [ngClass]="date.invalid && date.dirty  ? 'red-text' : 'grey-text'">Date</label>
              <span data-error="" data-success="right" *ngIf="date.invalid && (date.dirty || date.touched) ||  submittedError">
                <span *ngIf="date.errors?.required" class="helper-text red-text"> Date is required.</span>
              </span>
            </div>

            <!-- size -->
            <div class="input-field col s6">
              <input #size="ngModel" [(ngModel)]="apartment.details.size" name="size" id="inputSize" type="number" class="validate apartmentSize"
                pattern=".{2,10000}" />
              <label for="inputSize" [ngClass]="name.invalid && name.dirty  ? 'red-text' : 'grey-text'">Size</label>
              <span data-error="" data-success="right" *ngIf="size.invalid && (size.dirty || size.touched) ||  submittedError">
                <span *ngIf="size.errors?.pattern" class="helper-text red-text"> Size must be at least 2 digits.</span>
              </span>
            </div>
          </div>
        </div>




        <!-- Location -->
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input #search="ngModel" name="location" [(ngModel)]="apartment.location.address" autocorrect="off" autocapitalize="off"
            spellcheck="off" required class="form-control mr-sm-2 " type="search" id="inputLocation" placeholder="Search for location"
            aria-label="Search">
          <label for="inputLocation" [ngClass]="search.invalid && search.dirty  ? 'red-text' : ''">Location</label>
          <span data-error="" data-success="right" *ngIf="search.invalid && (search.dirty || search.touched) || submittedError">
            <span *ngIf="search.errors?.required" class="helper-text red-text"> Location is required.</span>
          </span>
        </div>

        <!-- Description info -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">create</i>
            <textarea #description="ngModel" [(ngModel)]="apartment.details.info" name="description" id="inputDescription" class="materialize-textarea"
              data-length="250" class="materialize-textarea" minlength="30" maxlength="250"></textarea>
            <label for="inputDescription" [ngClass]="description.invalid && description.dirty  ? 'blue-text' : 'grey-text'">Description...</label>
            <span data-error="" data-success="right" *ngIf="description.invalid && (description.dirty || description.touched) ||  submittedError">
              <span *ngIf="description.errors?.minlength" class="helper-text blue-text"> Please type Description at least 30 characters long.</span>
              <span *ngIf="description.errors?.maxlength" class="helper-text red-text"> Description must be at max of 250 characters long.</span>
            </span>
          </div>


        </div>

        <!-- Images -->
        <app-image-uploader (images)="addImagesToForm($event)"></app-image-uploader>
        <!-- [(ngModel)]="apartment.images" -->

        <!-- advancedFilter -->
        <div class="form-row row">
          <div *ngFor="let filter of advancedFilters" class="advancedFilters advancedFilter col-sm-4 col-md-2">
            <div class="switch">
              <label>
                <div class="switchIcon">
                  <img src="assets/images/icons/{{filter.filterName}}.png" />
                </div>
                <span>{{filter.name}}</span>

                <input [(ngModel)]="apartment.filters[filter.filterName]" [name]="filter.filterName"  type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- apartmentType -->
          <div class="input-field col s3 apartmentType">
            <select [(ngModel)]="apartment.details.apartment_type" name="apartmentType">
              <option value="" disabled selected>Type</option>
              <option value="דירה">דירה</option>
              <option value="דירת גן">דירת גן</option>
              <option value="פרטי">פרטי</option>
            </select>
          </div>
          <!--apartmentRooms-->
          <div class="input-field col s3 apartmentRooms">
            <select [(ngModel)]="apartment.details.rooms" name="apartmentRooms">
              <option value="" disabled selected>Rooms</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8+</option>
            </select>
          </div>
          <!--apartmentFloor-->
          <div class="input-field col s3 apartmentFloor">
            <select [(ngModel)]="apartment.details.floor" name="apartmentFloor">
              <option value="" disabled selected>Floor</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="10">10+</option>
              <option value="20">20+</option>
              <option value="30">30+</option>
            </select>
          </div>
          <!--apartmentToilets-->
          <div class="input-field col s3 apartmentToilets">
            <select [(ngModel)]="apartment.details.toilets" name="apartmentToilets">
              <option value="" disabled selected>Toilets</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn  modal-close waves-effect  btn-flat" data-dismiss="modal" type="button">
            <span>
              Cancel
            </span>
          </button>
          <button class="btn left modal-close waves-effect  btn-flat" type="submit">
            <span>
              Publish!
            </span>
          </button>
        </div>


        <!-- TODO -->
        <input type="hidden" [(ngModel)]="apartment.id" name="publisher_user_id" value="123" />
      </form>
    </div>
  </div>
</div>