<!-- Modal Structure -->
<div class="modal fade" id="newApartmentWindowModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <button #btnClose type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form #apartmentForm="ngForm">
        <h6>Publish New Apartment!</h6>
        <hr>
        <div class="row">
          <div class="col s12">

            <!-- Name -->
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="apartment.publisher.name" name="name" id="inputFirstName" type="text" class="validate" required data-length="20"
                materialize="characterCounter">
              <label for="inputFirstName">First Name</label>
              <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
            <!-- Phone -->
            <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input [(ngModel)]="apartment.publisher.phone" name="phone" id="icon_telephone" type="number" class="validate" required data-length="10"
                placeholder="050-0000000">
              <label for="icon_telephone">Telephone</label>
              <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col s12">

            <!-- Price -->
            <div class="input-field col s4">
              <i class="material-icons prefix">
                <img src="assets/images/icons/coins/ils.png" />
              </i>
              <input [(ngModel)]="apartment.details.price" name="price" id="inputPrice" type="number" data-length="10" class="validate"
                required onkeypress='return event.charCode >= 48 && event.charCode <= 57' pattern="[0-9,.]{3,10}" />
              <label for="inputPrice">Price</label>
              <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
            <!-- Email -->
            <div class="input-field col s4">
              <i class="material-icons prefix">email</i>
              <input [(ngModel)]="apartment.publisher.email" name="email" id="inputMail" type="text" class="validate" data-length="30"
                min="10" max="15" required />
              <label for="inputMail">Email</label>
              <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>

            <!-- Date -->
            <!-- TODO: check Any picker date js -->
            <div class="input-field col s4">
              <i class="material-icons prefix">date_range</i>

              <input type="text" class="datepicker" [(ngModel)]="apartment.details.entrance_date" name="date" id="inputDate" #date required
                (change)="changeDate()" />

              <!--  <input [(ngModel)]="apartment.details.entrance_date" name="date" id="inputDate" type="date" class="validate" required />-->
              <label for="inputMail">Date</label>
              <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>

          </div>
        </div>

        <!-- Location -->
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>

          <input #search name="location" [(ngModel)]="apartment.location.address" autocorrect="off" autocapitalize="off" spellcheck="off"
            class="form-control mr-sm-2 " type="search" id="inputLocation" placeholder="Search for location" aria-label="Search">
          <label for="inputLocation">Location</label>
        </div>

        <!-- info -->
        <div class="row">
          <div class="input-field col s10">
            <i class="material-icons prefix">create</i>
            <textarea [(ngModel)]="apartment.details.info" name="description" id="inputDescription" class="materialize-textarea" data-length="250"></textarea>
            <label for="inputDescription">Description...</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
          </div>
          
        <!-- size -->
          <div class="input-field col-s2">
              <input [(ngModel)]="apartment.details.size" name="size" id="inputSize" type="number" class="validate apartmentSize" required />
              <label for="inputSize">Size</label>
              <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
        </div>





        <!-- Images -->
        <app-image-uploader (images)="addImagesToForm($event)"></app-image-uploader>
        <!-- [(ngModel)]="apartment.images" -->

        <!-- advancedFilter -->
        <div class="form-row">
          <div *ngFor="let filter of advancedFilters" class="advancedFilters advancedFilter col s2">
            <div class="switch">
              <label>
                <div class="switchIcon">
                  <img src="assets/images/icons/{{filter.filterName}}.png" />
                </div>
                <span>{{filter.name}}</span>

                <input [(ngModel)]="apartment.filters[filter.filterName]" name="filter" type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
        
<div class="row">
        <!-- apartmentType -->
        <div class="input-field col s3 apartmentType">
          <select [(ngModel)]="apartment.details.apartmentType" name="apartmentType" required>
            <option value="" disabled selected>Type</option>
            <option value="דירה">דירה</option>
            <option value="דירת גן">דירת גן</option>
            <option value="פרטי">פרטי</option>
          </select>
        </div>
        <!--apartmentRooms-->
        <div class="input-field col s3 apartmentRooms">
          <select [(ngModel)]="apartment.details.rooms" name="apartmentRooms" required>
            <option value="" disabled selected>Rooms</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8+</option>
          </select>
        </div>
        <!--apartmentFloor-->
        <div class="input-field col s3 apartmentFloor">
          <select [(ngModel)]="apartment.details.floor" name="apartmentFloor" required>
            <option value="" disabled selected>Floor</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="10">10+</option>
            <option value="20">20+</option>
            <option value="30">30+</option>
          </select>
        </div>
        <!--apartmentToilets-->
        <div class="input-field col s3 apartmentToilets">
          <select [(ngModel)]="apartment.details.toilets" name="apartmentToilets" required>
            <option value="" disabled selected>Toilets</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        </div>

        <div class="modal-footer">
          <button class="btn  modal-close waves-effect  btn-flat" data-dismiss="modal" type="button">
            <span>
              Cancel
            </span>
          </button>
          <button class="btn left modal-close waves-effect  btn-flat" type="submit" (click)="publishNewApartment()">
            <span>
              Publish!
            </span>
          </button>
        </div>


        <!-- TODO -->
        <input type="hidden" [(ngModel)]="apartment.id" name="publisher_user_id" value="123" />
      </form>
    </div>
  </div>
</div>
