.input-field .prefix.active{
    color:#3AA0FF;
}
.advancedFilters .switch label {
    text-align: center;
}
.switch, .switch *{    margin: 0 auto;

    display: block;}

.advancedFilters{

    display: contents;
  }
.switchIcon img{
width:24px;
}
  .modal .modal-footer{background-color:transparent; display:block;}
  .modal-footer button{margin: 30px 0px 0px;}

 .pac-container, .pac-item{
    z-index: 2147483647 !important;
    
    text-align: left;
 }
 .pac-logo:after{display:none;}