<!-- NAV -->
<nav 
    class="navbar navbar-expand-lg navbar-light"
    [ngClass]="{ 'searchClicked': search }">

    <a href="#" data-target="slide-out" class="sidenav-trigger" *ngIf="mobile">
        <i class="material-icons">menu</i>
    </a>

    <!-- nav links -->
    <div id="navbar">
        <div class="logo left">
            <a href="#">
                <img src="assets/images/logo.png" class="logoImg">
                    MapMap</a>
            </div>

            <div class="userProfile webProfile" *ngIf="!mobile">
                <img
                    data-position="left"
                    data-tooltip="לחץ ליציאה"
                    [src]="profile['picture'] ? profile['picture'] : '../assets/images/apartments/no_image.jpg'"
                    class='signOut tooltipped'
                    (click)="signOut()">

                    <button class="btn btn-info googleBT" id="loginBT" data-toggle="modal" data-target="#login" >כניסה</button>

                </div>

<a routerLink='/admin' class="btn btn-info" (click)="adminPanel()">Admin</a>

            </div>
        </nav>