a {
    font-weight: 400;
    font-size: 1rem;
}

a.logo {
    font-weight: bold;
}

.logo img {
    width: 25px;
}

nav {
    height: 5vh;
    background-color: #4c4c4c;
}

nav .publishBT {
    padding: 0;
}

nav .publishBT button {
    border: 1px solid #fff;
    color: #fff;
}

.navbar {
    background-color: #4c4c4c;
    -webkit-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
}
#navbar {
    width: 100%;
}

.signOut {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 10px;
    display: none;
}
nav .btn:hover {
    color: #42A5F5 !important;
    background: #fff !important;
}
.logoImg {
    width: 25px;
}
.signOut {
    cursor: pointer;
}

.navbar input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}
.navbar input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}
.navbar input:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}
.navbar input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
.navbar input:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4c4c4c;
}
.navbar inputfocus::-moz-placeholder {
    /* Firefox 19+ */
    color: #4c4c4c;
}
.navbar inputfocus:-ms-input-placeholder {
    /* IE 10+ */
    color: #4c4c4c;
}
.navbar inputfocus:-moz-placeholder {
    /* Firefox 18- */
    color: #4c4c4c;
}


.webProfile {
    float: right;
}


@media only screen and (max-width: 600px) {
    nav {
        height: 6vh;
    }
    #navbar {
        width: 90%;
    }
    nav .sidenav-trigger {
        margin: 0;
    }
}