/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Gloria Hallelujah','Assistant',Arial, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    outline:0;
}
a:hover {
    text-decoration: none;
    color: #42A5F5 !important;
}
body {
    background-color: #3aa0ff;
    height: 100vh;
}

nav  {
    height:5vh;
    background-color: #4c4c4c;
}
hr{    width: 100%;}